[submodule "src/Modules/IUIS.Modules.Team1"]
	path = src/Modules/IUIS.Modules.Team1
	url = https://github.com/Chiharu19/Team1_StudentManagementModule
[submodule "src/Modules/IUIS.Modules.Team2"]
	path = src/Modules/IUIS.Modules.Team2
	url = https://github.com/jomar999/Team2_Teacher_Management
[submodule "src/Modules/IUIS.Modules.Team3"]
	path = src/Modules/IUIS.Modules.Team3
	url = https://github.com/Yelsha111/AcademicManagementSystem
[submodule "src/Modules/IUIS.Modules.Team4"]
	path = src/Modules/IUIS.Modules.Team4
	url = https://github.com/kurtvergara06-rgb/RegistrarManagement
[submodule "src/Modules/IUIS.Modules.Team5"]
	path = src/Modules/IUIS.Modules.Team5
	url = https://github.com/scoop23/library-management-module
[submodule "src/Modules/IUIS.Modules.Team7"]
	path = src/Modules/IUIS.Modules.Team7
	url = https://github.com/samsonjeff/csharp-crud-json
[submodule "src/Modules/IUIS.Modules.Team8"]
	path = src/Modules/IUIS.Modules.Team8
	url = https://github.com/codeWithAmben/project102
[submodule "src/Modules/IUIS.Modules.Team6"]
	path = src/Modules/IUIS.Modules.Team6
	url = https://github.com/VenB304/IUIS.Modules.Team6.git
